body {
  margin: 0;
  padding: 0;
  color: #252525;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: hsla(270, 0.8267450560000036%, 0%, 0.02);
}

a {
  text-decoration: none;
  color: #252525;
}

p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.5rem;
}

.button {
  background-color: #8c65b3;
  padding: 0.5rem 2rem;
  margin: -2.3rem 1rem;
}

.button:hover {
  background-color: #6f5499;
  box-shadow: 0px 4px 8px rgba(46, 41, 51, 0.08),
    0px 8px 16px rgba(71, 63, 79, 0.16);
}


.button-delete {
  background-color: #ff3322;
  float: right;
  margin: -2rem 1rem;
}

.button-delete:hover {
  background-color: #ff2233;
  box-shadow: 0px 4px 8px rgba(46, 41, 51, 0.08),
    0px 8px 16px rgba(71, 63, 79, 0.16);
}

/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #6f5499;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navbar > ul {
  list-style: none;
}

.nav-item {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding-top: 8px;
  text-decoration: none;
}

.nav-item a{
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
}


/* Change background on mouse-over */
.navbar .nav-item:hover  a{
  background: #efefef;
  padding: 8px 16px;
  color: #000;
}

.container {
  max-width: 42rem;
  margin: 2rem auto;
  padding: 1.5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  position: relative;
}

.main {
  box-shadow: 0px 1px 2px rgba(46, 41, 51, 0.08),
    0px 2px 4px rgba(71, 63, 79, 0.08);
  background: #ffffff;
  border-radius: 4px;
  padding: 2rem 3rem;
  margin-left: -3rem;
  margin-right: -3rem;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    padding 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    padding 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    padding 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  margin-bottom: 1.5rem;
}

.main-post {
  box-shadow: 0px 1px 2px rgba(46, 41, 51, 0.08),
    0px 2px 4px rgba(71, 63, 79, 0.08);
  background: #ffffff;
  border-radius: 4px;
  padding: 2rem 3rem;
  margin-left: -3rem;
  margin-right: -3rem;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    padding 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    padding 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    padding 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  margin-bottom: 1.5rem;
}

.main-post:hover {
  -webkit-transform: translateY(-0.25rem);
  -ms-transform: translateY(-0.25rem);
  transform: translateY(-0.25rem);
  box-shadow: 0px 4px 8px rgba(46, 41, 51, 0.08),
    0px 8px 16px rgba(71, 63, 79, 0.16);
}

.main-post > h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 1rem;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.5rem;
  color: hsla(270, 17.119554496%, 0%, 0.92);
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.51572rem;
  line-height: 1.25;
}

.main-comment {
  border-radius: 4px;
  padding: 2rem 1rem;
  box-shadow: 0px 1px 2px rgba(46, 41, 51, 0.08),
    0px 2px 4px rgba(71, 63, 79, 0.08);
  border-radius: 4px;
  position: relative;
  margin-bottom: 1.5rem;
  width: 100%;
}

.points-post {
  float: right;
  font-size: 0.8rem;
  color: #ffd700;
  font-weight: 520;
  margin-right: -2rem;
  margin-top: -1rem;
}

.points-comment {
  float: right;
  font-size: 0.8rem;
  color: #ffd700;
  font-weight: 520;
  margin-right: 1rem;
  margin-top: 0.6rem;
}

.author-post {
  font-size: 0.7rem;
  display: inline-block;
  color: hsla(270, 6.8076334240000005%, 0%, 0.54);
}

.author-post a {
  color: #8c65b3;
  text-decoration: none;
  transition: all 100ms cubic-bezier(0.4, 0, 0.2, 1);
  border-bottom: 1px solid #8c65b3;
}

.comments-post {
  font-size: 0.8rem;
  color: #999999;
  font-style: italic;
  text-align: right;
  float: right;
}

.main-post-individual {
  box-shadow: 0px 1px 2px rgba(46, 41, 51, 0.08),
    0px 2px 4px rgba(71, 63, 79, 0.08);
  background: #ffffff;
  border-radius: 4px;
  padding: 2rem 3rem;
  margin-left: -3rem;
  margin-right: -3rem;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    padding 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    padding 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    padding 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  margin-bottom: 1.5rem;
}

.author-post-individual {
  font-size: 0.9rem;
  display: inline-block;
  font-style: italic;
  font-weight: 600;
  color: hsla(270, 6.8076334240000005%, 0%, 0.54);
  padding-bottom: 2rem;
}

.author-post-individual a {
  color: #8c65b3;
  text-decoration: none;
  transition: all 100ms cubic-bezier(0.4, 0, 0.2, 1);
  border-bottom: 1px solid #8c65b3;
}

.comments-post-individual {
  box-shadow: 0px 1px 2px rgba(46, 41, 51, 0.08),
    0px 2px 4px rgba(71, 63, 79, 0.08);
  background: #ffffff;
  border-radius: 4px;
  padding: 0.8rem 1rem;
  margin-left: -3rem;
  margin-right: -3rem;
  font-size: 0.8rem;
}

.comments-post-title {
  font-weight: bold;
  padding: 1.5rem 0;
}

.comment-author {
  border-bottom: #6f5499 solid 1px;
}

.comment-author p {
  margin: 0.2rem 0.8rem 1rem 0.8rem;
  color: grey;
}

.comment-author .author-name {
  font-weight: 550;
  color: #6f5499;
  padding: 0.51rem 0.345rem;
}


.title-h2 {
  font-size: 0.8rem;
  color: gray;
  padding: 0.5rem;
  margin-bottom: 0.51rem;
  display: inline-block;
}

.read-more{
  font-size: 0.7rem;
  color: gray;
}

.edit-post {
  font-size: 0.7rem;
  margin-left: 0.5rem;
  color: #f26000;
}

.vote-post {
  float: right;
  font-size: 1.1rem;
  font-weight: 500;
  margin-right: -5rem;
}


.vote-comment {
  float: right;
  font-size: 1.1rem;
  font-weight: 500;
  margin-right: 0.5rem;
}